body {
  background-color: rgb(171, 241, 255);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.content-wrapper {
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 800px;
  text-align: center;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.157);
  overflow: hidden;
}
