.product-details {
  &__name {
    position: relative;
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 5px;
    font-weight: bold;
  }

  &__img {
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
    }
  }

  &__info {
    text-align: left;
    background: rgb(218, 240, 237);
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    font-weight: bold;
    word-wrap: break-word;
  }

  &__options {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .btn-success {
    display: flex;
    position: relative;
    right: 30px;
    margin-left: auto;
  }
}

.option {
  background: rgb(243, 243, 243);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  color: rgb(17, 88, 79);
}

@media only screen and (max-width: 992px) {
  .product-details {
    &__name {
      font-size: 18px;
    }
    img {
      max-width: 70%;
      max-height: 400px;
      object-fit: contain;
    }
  }
}
